@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Gagamond";
	src: url('../fonts/gagamond-bold.eot?t=1486352811038'); /* IE9*/
	src: url('../fonts/gagamond-bold.eot?t=1486352811038#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/gagamond-bold.woff?t=1486352811038') format('woff'), /* chrome, firefox */
	url('../fonts/gagamond-bold.ttf?t=1486352811038') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	// url('./fonts/gagamond-bold.svg?t=1486352811038#gagamond-bold') format('svg'); /* iOS 4.1- */
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Gagamond";
	src: url('../fonts/gagamond-medium.eot?t=1486352811038'); /* IE9*/
	src: url('../fonts/gagamond-medium.eot?t=1486352811038#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/gagamond-medium.woff?t=1486352811038') format('woff'), /* chrome, firefox */
	url('../fonts/gagamond-medium.ttf?t=1486352811038') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	// url('./fonts/gagamond-medium.svg?t=1486352811038#gagamond-medium') format('svg'); /* iOS 4.1- */
}
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';
    font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    &.glyphicon-home:before{content:"\e021";}
    &.glyphicon-menu-hamburger:before{content:"\e236";}
    &.glyphicon-triangle-bottom:before{content:"\e252";}
}
